.legs-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 3rem;
  margin: 10rem 8rem;
}

.legs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.legs h3 {
  text-align: center;
  color: #f14d59;
}

.legs h4 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 900px) {
  .legs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem;
    margin: 4rem 2rem;
  }

  .legs {
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .legs p {
    text-align: center;
    /* padding: 0rem 3rem; */
  }
}
