.legs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 0px;
  background: #f14d58;
  padding: 12rem 1rem;
  margin-bottom: 6rem;
}

.leg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem;
  border-left: 2px solid white;
}

.leg1 {
  border: none;
}

.leg-icon {
  justify-self: center;
}

.leg h3 {
  text-align: center;
  color: white;
}

.leg p {
  text-align: center;
  color: white;
}

@media (max-width: 900px) {
  .legs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    margin: 0;
    padding: 1rem 1rem;
  }

  .leg {
    margin: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-left: none;
    border-bottom: 1px solid black;
  }

  .leg3 {
    border: none;
  }

  .leg p {
    margin: 0;
  }
}
