.about {
  background-color: rgba(255, 232, 244, 0.9);
  margin: 4rem 4rem;
  border-radius: 30px;
  /* display: flex; */
}

.presentation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 4%;
}

.about h1 {
  text-align: center;
  color: palevioletred;
  font-size: 48px;
}

.image-bg2 img {
  width: 80%;
  border-radius: 30px;
}

.about-desc {
  background: rgba(255, 255, 255, 0.841);
  display: flex;
  align-items: center;
  width: 50%;
  height: 40%;
  padding: 1%;
  border-radius: 30px;
}
