.about {
  background-color: #f7f7f7;
  margin: 0rem 4rem;
  border-radius: 30px;
  /* display: flex; */
}

.presentation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 4%;
}

.image-bg2 img {
  width: 80%;
  border-radius: 30px;
}

.about-desc {
  display: flex;
  align-items: center;
  width: 50%;
  height: 40%;
  padding: 1%;
  border-radius: 30px;
}
