h2 {
  font-size: xx-large;
  color: #f14d59;
  padding: 8rem;
  width: 70%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 500;
}
h2:before,
h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h2:after {
  margin: 0 -55% 0 0.5em;
}

.about article {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 2rem 0rem;
}

.about img {
  width: 40%;
  border-radius: 1px;
}

.about p {
  width: 50%;
}

@media (max-width: 1000px) {
  h2 {
    font-size: large;
    color: #f14d59;
    padding: 4rem 0rem;
    width: 70%;
    margin: 0.7em auto;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about img {
    width: 100%;
  }

  .about article {
    flex-direction: column;
    padding: 20% 0px;
  }
  .about p {
    width: 95%;
  }
}
