.brands-container {
  background-position: center;
  background-size: contain;
  background-color: #f14d5822;
  background-attachment: fixed;
  height: 13rem;
  margin: 3rem 0px;
}

.brands-container article {
  background-color: #f14d58d6;
  height: 100%;
}

.brands-container img {
  height: 6rem;
  border-radius: 50px;
}

.banner-logos {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.137);
}

@media (max-width: 900px) {
  .brands-container img {
    height: 4rem;
    border-radius: 50px;
  }

  .banner-logos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
  }
  .logos {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
}
