.validation-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1rem;
}

.hr-validations {
  width: 70%;
}

.modal-box {
  width: 50%;
}

.modal-button {
  background-color: white;
  color: black;
  border-bottom: 1px solid #f14d59;
  border-radius: 0px;
}

.close-popup {
  display: none;
}

@media (max-width: 900px) {
  .validation-form {
    width: 100%;
    padding: 1rem;
  }

  .modal-box {
    width: 100%;
  }

  .close-popup {
    display: block;
  }

  .modal-button {
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
    color: #f14d59;
    background-color: white;
    border-bottom: none;
    border-radius: 0px;
    padding: 0px;
  }
}
