.validation-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1rem;
}

.hr-validations {
  width: 70%;
}

.modal-box {
  width: 50%;
}

.close-popup {
  display: none;
}

@media (max-width: 900px) {
  .validation-form {
    width: 100%;
    padding: 1rem;
  }

  .modal-box {
    width: 100%;
  }

  .close-popup {
    display: block;
  }
}
