img {
  max-height: 100%;
}

a {
  color: rgb(255, 109, 182);
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: hotpink;
  justify-content: center;
}

.header-menu:hover {
  background-color: rgba(255, 174, 187, 0.593);
}

.header-logo {
  justify-self: center;
  width: 80px;
}

.header-button {
  padding: 0.5rem;
  border: 2px solid rgb(255, 174, 188);
  background-color: rgb(255, 174, 188);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.header-button:hover {
  color: rgb(236, 234, 234);
  background-color: rgba(255, 174, 187, 0.593);
}

.header-nav {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(255, 56, 156);
}

.header-nav-ul {
  display: flex;
  gap: 100px;
  list-style: none;
}

.header-nav li {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.header-nav li:hover {
  background-color: rgba(255, 56, 156, 0.088);
}
