.image-bg {
  margin-top: 1rem;
  background: url("../../../images/juli2.jpg");
  padding-top: 6em;
  padding-bottom: 6em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.circle {
  margin-right: 15em;
  text-align: center;
  width: 350px;
  height: 350px;
  border: 5px solid palevioletred;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.803);
}

.circle-content {
  position: relative;
  top: 108px;
  color: palevioletred;
}
