.hero {
  background-image: url("../../../images/hero-banner.jpg");
  background-position: center;
  background-size: cover;
}

.hero article {
  text-align: center;
  font-size: 32px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20%;
  color: rgb(237, 237, 237);
}

@media (max-width: 1000px) {
  .hero article {
    text-align: center;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40% 0%;
    color: rgb(237, 237, 237);
  }

  .hero h1 {
    text-align: center;
    font-size: 33px;
  }

  .hero span {
    font-size: 25px;
  }
}
