.turno-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.turno-form {
  display: flex;
  background: #f7f7f7;
  flex-direction: column;
  /* padding: 3% 15%; */
  gap: 2em;
  padding: 5rem;
  width: 50%;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.wpp-bttn {
  border: none;
  padding: 2%;
  cursor: pointer;
  background: #f14d59;
  transition: background 0.2s ease;
}

.wpp-bttn:hover {
  background: #ef8088;
}

.wpp-logo {
  color: black;
}

@media (max-width: 900px) {
  .turno-form {
    width: 100%;
    padding: 1rem;
  }
}
