.legs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 0px;
  padding: 12rem 1rem;
  margin-bottom: 6rem;
  background-image: url(../../images/food-banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -500px;
}

.leg {
  text-align: center;
  border-radius: 30px;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem;
}

.leg-icon {
  padding: 10px;
  justify-self: center;
  background: #f14d58d6;
  color: white;
  border-radius: 10px;
}

.leg h3 {
  font-size: 30px;
  margin: 1rem;
  color: #f14d58d6;
}

.leg p {
  font-size: 22px;
  margin: 0rem;
}

@media (max-width: 900px) {
  .legs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem 0rem;
    background-position-x: -800px;
  }

  .leg {
    margin: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    backdrop-filter: blur(30px);
  }

  .leg3 {
    border: none;
  }

  .leg p {
    margin: 0;
  }
}
